{% extends 'meta_layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block panel_body %}
    <div class="row">
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>What were we thinking?</h2>
                <p>
                    We often find ourselves arguing on which restaurant is best and most fitting for all.
                    With the struggle of agreeing on one restaurant Coolspots will help narrow the choice
                    on the restaurant with a poll that everyone can choose their preferences with an agreeable
                    distance.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Where did it start?</h2>
                <p>
                    It all started at the Cat Hacks in Lexington, Ky brainstorming on things we struggle
                    with when hanging out with a diverse group of friends.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="jumbotron">
                <h2>Founders</h2>
                <p>
                    Mayra Macias Email: mayramacias313@gmail
                    Javier Cienfuegos Email: cienfuegoseveryday@gmail.com
                    Gerardo Soto Email: grrdnazar@gmail.com
                </p>
            </div>
        </div>
    </div>
{% endblock %}