{% extends 'meta_layout.html' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block panel_body %}
<div class="row">
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/Ciengfuegosj.jpg') }}">
        <img src="Ciengfuegosj.jpg" alt="boy in a navy blue" width="400" height="500">
    </div>
    <div class="col-md-2">
        <h4>Javier Cienfuegos Jr</h4>
        <i>
            "Senior Computer Science & Mathematics major at Berea College."
        </i>
    </div>
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/Gerardosoto.jpg') }}">
        <img src="Gerardosoto.jpg" alt="boy in black jacket" width="400" height="500">
    </div>
    <div class="col-md-2">
        <h4>Gerardo Soto</h4>
        <i>
            "Sophomore Computer Science Major & Accounting Minor at Berea College."
        </i>
    </div>
    <div class="col-md-2">
        <img src="{{ url_for('static',filename='images/IMG_7845.jpg') }}">
        <img src="IMG_7845.jpg" alt="Girl in a plaid" width="400" height="500">
    <div class="col-md-2">
        <h4>Mayra Macias</h4>
        <i>
            "Senior Applied Science & Mathematics Major, & Chemistry Minor at Berea College."
        </i>
    </div>
</div>
<div class="row" id="second_row">
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">

        </div>
    </div>
</div>
{% endblock %}