
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% block stylesheets %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/quill/dist/quill.snow.css')}}"/>
      <link rel="stylesheet" href="{{url_for( 'static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />
    {% endblock%}
</head>

<body>
<nav class="navbar navbar-inverse navbar-global navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">coolspots</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-user navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> testuser</a></li>
            <li><a href="{{ url_for('login') }}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<nav class="navbar-primary">
  <a href="#" class="btn-expand-collapse"><span class="glyphicon glyphicon-menu-left"></span></a>
  <ul class="navbar-primary-menu">
    <li>
      <a id="restaurant_btn"><span class="glyphicon glyphicon-cutlery"></span><span class="nav-label">Restaurants</span></a>
      <a id="parks_btn"><span class="glyphicon glyphicon-map-marker"></span><span class="nav-label">Parks</span></a>
      <a id="hotels_btn"><span class="glyphicon glyphicon-bed"></span><span class="nav-label">Hotels</span></a>
      <a id="coffee_btn"><span class="glyphicon glyphicon-film"></span><span class="nav-label">Coffee Shops</span></a>
      <a id="hot_spots_btn"><span class="glyphicon glyphicon-calendar"></span><span class="nav-label">🔥 Hot Spots</span></a>
    </li>
  </ul>
</nav>
<div class="main-content">
  <div class="panel panel-default" id="favorite_panel">
    <div class="panel-heading">
      <h1 id="favorite_lbl">Favorite Restaurants</h1>
    </div>
    <div id="favorite_panel_body" class="panel-body">
      <!- format bullet points here -->
    </div>
  </div>
  <div class="panel panel-default" id="recent_panel">
    <div class="panel-heading">
      <h1 id="recent_lbl">Recent Restaurants</h1>
    </div>
    <div id="recent_panel_body" class="panel-body">
      <!- format bullet points here -->
    </div>
  </div>
  <div class="panel panel-default" id="poll_panel">
    <div class="panel-heading">
      <h1>Send a poll</h1>
    </div>
    <div id="poll_panel_body" class="panel-body">
        <div class="col-md-4">
            <table id="friend_table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gerardo</td>
                        <td><span class="glyphicon glyphicon-plus"></span></td>
                    </tr>
                    <tr>
                        <td>Mayra</td>
                        <td><span class="glyphicon glyphicon-plus"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label id="poll_date_lbl">When do you want to eat?</label>
                <div class="input-group date" id="t_due_date_calendar">
                    <input type="text" class="form-control" id="t_due_date">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label id="location_lbl">Where do you want to eat?</label>
                <input type="text" class="form-control" placeholder="Enter a zip code or city...">
            </div>
            <div class="form-group">
                <label id="max_radius_lbl">What's the maximum radius (mi) of travel from selected location?</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
      <div class="panel-footer">
          <button type="button" class="btn btn-primary btn-block">Submit</button>
      </div>
  </div>
</div>
</body>


{%block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for( 'static', filename='js/home.js') }}"></script>
    <script type="text/javascript" src="{{url_for( 'static', filename='bower_components/moment/min/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{url_for( 'static', filename='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDchda1zgCLkP69B9IREe8lTyWGcoO7cyk&callback=initMap" async defer></script>

{% endblock%}
</html>
